form {
    width: 60%;
    display: inline-block;
    color: white;
    background-color: grey;
    border-style: solid;
    border-color: grey;
    border-width: 5px;

  }
  
mat-form-field {
    width: 100%;
  }
h2{
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 150%;
}
.FormCenter{
  padding-top: 5%;
  text-align: center;

}
button{
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
